# course related
HW01/
ouput.txt

# pascal
*.lpi
*.lps

# compiled object files
*.o
*.lo
*.slo
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dll
*.dylib

# compiled static libraries
*.a
*.la
*.lai
*.lib

# executables
*.app
*.exe
*.out
*.app.*
*.exe.*
*.out.*

# mac osx
.DS_Store
__MACOSX/
xcuserdata/

# jetbrains
*.iml
.idea/

# cache, logging, and debugging
*.bak
*.log
CMakeCache.txt
cmake-build-debug/
CMakeFiles/cmake.check_cache

# other
*.pdf
