# Prerequisites
*.d

# Pascal
*.lps
*.lpi

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
.DS_Store
.idea/
xcuserdata/
cmake-build-debug/
a.out.dSYM/Contents/Info.plist

# ignore first assignment - was individual
HW01/
ouput.txt
CMakeCache.txt
CMakeFiles/cmake.check_cache
