# course related
ouput.txt
*Chapter*cpp

# pascal
*.lpi
*.lps

# compiled object files
*.o
*.lo
*.slo
*.obj

# precompiled headers
*.gch
*.pch

# compiled dynamic libraries
*.so
*.dll
*.dylib

# compiled static libraries
*.a
*.la
*.lai
*.lib

# executables
*.app
*.exe
*.out
*.app.*
*.exe.*
*.out.*

# mac osx
.DS_Store
__MACOSX/
xcuserdata/

# cache, logging, and debugging
*.bak
*.log
CMakeCache.txt
CMakeLists.txt
cmake-build-debug/
CMakeFiles/cmake.check_cache

# jetbrains
*.iml
.idea/

# eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.project
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.recommenders/
